<mat-card>
    <div fxlayout="row wrap">
        <div fxFlex="50" fxLayoutAlign="center">
            <button mat-button>
                <mat-icon>edit</mat-icon>
                <span class="ml12">Edit</span>
            </button>
        </div>
        <div fxFlex="50" fxLayoutAlign="center">
            <button mat-button>
                <mat-icon>info</mat-icon>
                <span>Change Status</span>
            </button>
        </div>
    </div>
    <div fxlayout="row wrap">
        <div fxFlex="50" fxLayoutAlign="center">
            <button mat-button>
                <mat-icon>call_merge</mat-icon>
                <span>Merge</span>
            </button>
        </div>
        <div fxFlex="50" fxLayoutAlign="center">
            <button mat-button>
                <mat-icon>help</mat-icon>
                <span>Add to FAQ</span>
            </button>
        </div>
    </div>
</mat-card>
<mat-card>
    <div fxlayout="row">
        <div fxFlex>
            <mat-checkbox>Follow up</mat-checkbox>
        </div>
        <div fxFlexLayout="row">
            <span><input matInput [matDatepicker]="dobpicker" readonly="true"></span>
            <mat-datepicker-toggle matSuffix [for]="dobpicker"></mat-datepicker-toggle>
            <mat-datepicker #dobpicker></mat-datepicker>
        </div>
    </div>
</mat-card>
<mat-card>
    <div fxlayout="row">
        <mat-icon>loyalty</mat-icon>
        <input matInput placeholder="Add Tags">
        <button mat-button><span>Add</span></button>
        <!-- <mat-form-field>
            <mat-chip-list #chipList aria-label="Fruit selection">
                <mat-chip *ngFor="let tag of tags" [selectable]="selectable" [removable]="removable"
                    (removed)="remove(tag)">
                    {{tag.name}}
                    <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                </mat-chip>
                <input placeholder="Add tag..." [matChipInputFor]="chipList"
                    [matChipInputSeparatorKeyCodes]="separatorKeysCodes" [matChipInputAddOnBlur]="addOnBlur"
                    (matChipInputTokenEnd)="add($event)">
            </mat-chip-list>
        </mat-form-field> -->
    </div>
</mat-card>