<mat-card>
    <div fxlayout="row wrap">
        <div fxFlex="50" fxLayoutAlign="center">1</div>
        <div fxFlex="50" fxLayoutAlign="center">2</div>
    </div>
    <div fxlayout="row wrap">
        <div fxFlex="50" fxLayoutAlign="center">3</div>
        <div fxFlex="50" fxLayoutAlign="center">4</div>
    </div>
</mat-card>
<mat-card>
    <div fxlayout="row">
        <div fxFlex="50" fxLayoutAlign="center">
            <mat-checkbox>Check me!</mat-checkbox>
        </div>
        <div fxFlex="50" fxLayoutAlign="center">2</div>
    </div>
</mat-card>