:host {
  .msg-card {
    height: 100vh;
  }
  .text-right {
    text-align: right;
  }
  .title {
    font-weight: bold;
    color: #005242;
    font-size: medium;
  }
  .msg-textarea {
    background: #f4f8f7;
  }
  .mat-list-item div {
    opacity: 0.8;
    font-size: 12px;
  }
  .mat-list-item span.c-title {
    font-weight: bold;
  }
}
