<mat-accordion>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                <span class="title">CONTACT</span>
            </mat-panel-title>
        </mat-expansion-panel-header>

        <mat-list>
            <mat-divider></mat-divider>
            <mat-list-item>
                <div fxLayout="row" fxFlex="100">
                    <div fxLayout="row" fxFlex="40">
                        <span fxFlex="30" class="c-title">Name</span>
                        <span fxFlex="70">John Doe</span>
                    </div>
                    <div fxLayout="row" fxFlex="60">
                        <span fxFlex="30" class="c-title">Department</span>
                        <span fxFlex="70">Sales</span>
                    </div>
                </div>
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>
                <div fxLayout="row" fxFlex="100">
                    <div fxLayout="row" fxFlex="40">
                        <span fxFlex="30" class="c-title">Email</span>
                        <span fxFlex="70">johndoe@gmail.com</span>
                    </div>
                    <div fxLayout="row" fxFlex="60">
                        <span fxFlex="30" class="c-title">Reports To</span>
                        <span fxFlex="70">Ashley</span>
                    </div>
                </div>
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>
                <div fxLayout="row" fxFlex="100">
                    <div fxLayout="row" fxFlex="40">
                        <span fxFlex="30" class="c-title">Phone</span>
                        <span fxFlex="70">123, 456, 7890</span>
                    </div>
                    <div fxLayout="row" fxFlex="60">
                        <span fxFlex="30" class="c-title">Notify Owner</span>
                        <span fxFlex="70">No</span>
                    </div>
                </div>
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>
                <div fxLayout="row" fxFlex="100">
                    <div fxLayout="row" fxFlex="40">
                        <span fxFlex="30" class="c-title">Account</span>
                        <span fxFlex="70">Deer Funds</span>
                    </div>
                    <div fxLayout="row" fxFlex="60">
                        <span fxFlex="30" class="c-title">Modified</span>
                        <span fxFlex="70">Yesterday</span>
                    </div>
                </div>
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>
                <div fxLayout="row" fxFlex="100">
                    <div fxLayout="row" fxFlex="40">
                        <span fxFlex="30" class="c-title">Title</span>
                        <span fxFlex="70">1 Hour</span>
                    </div>
                    <div fxLayout="row" fxFlex="60">
                        <span fxFlex="30" class="c-title">Created</span>
                        <span fxFlex="70">March 02, 2017</span>
                    </div>
                </div>
            </mat-list-item>
            <mat-divider></mat-divider>
        </mat-list>
    </mat-expansion-panel>
    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
        <mat-expansion-panel-header>
            <mat-panel-title>
                <span class="title">ADDRESS INFORMATION</span>
            </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-list>
            <mat-divider></mat-divider>
            <mat-list-item>
                <div fxLayout="row" fxFlex="100">
                    <div fxLayout="row" fxFlex="40">
                        <span fxFlex="30" class="c-title">Name</span>
                        <span fxFlex="70">John Doe</span>
                    </div>
                    <div fxLayout="row" fxFlex="60">
                        <span fxFlex="30" class="c-title">Department</span>
                        <span fxFlex="70">Sales</span>
                    </div>
                </div>
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>
                <div fxLayout="row" fxFlex="100">
                    <div fxLayout="row" fxFlex="40">
                        <span fxFlex="30" class="c-title">Email</span>
                        <span fxFlex="70">johndoe@gmail.com</span>
                    </div>
                    <div fxLayout="row" fxFlex="60">
                        <span fxFlex="30" class="c-title">Reports To</span>
                        <span fxFlex="70">Ashley</span>
                    </div>
                </div>
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>
                <div fxLayout="row" fxFlex="100">
                    <div fxLayout="row" fxFlex="40">
                        <span fxFlex="30" class="c-title">Phone</span>
                        <span fxFlex="70">123, 456, 7890</span>
                    </div>
                    <div fxLayout="row" fxFlex="60">
                        <span fxFlex="30" class="c-title">Notify Owner</span>
                        <span fxFlex="70">No</span>
                    </div>
                </div>
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>
                <div fxLayout="row" fxFlex="100">
                    <div fxLayout="row" fxFlex="40">
                        <span fxFlex="30" class="c-title">Account</span>
                        <span fxFlex="70">Deer Funds</span>
                    </div>
                    <div fxLayout="row" fxFlex="60">
                        <span fxFlex="30" class="c-title">Modified</span>
                        <span fxFlex="70">Yesterday</span>
                    </div>
                </div>
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>
                <div fxLayout="row" fxFlex="100">
                    <div fxLayout="row" fxFlex="40">
                        <span fxFlex="30" class="c-title">Title</span>
                        <span fxFlex="70">1 Hour</span>
                    </div>
                    <div fxLayout="row" fxFlex="60">
                        <span fxFlex="30" class="c-title">Created</span>
                        <span fxFlex="70">March 02, 2017</span>
                    </div>
                </div>
            </mat-list-item>
            <mat-divider></mat-divider>
        </mat-list>
    </mat-expansion-panel>

    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
        <mat-expansion-panel-header>
            <mat-panel-title>
                <span class="title">TROUBLE TICKET HISTORY</span>
            </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-list>
            <mat-divider></mat-divider>
            <mat-list-item>
                <div fxLayout="row" fxFlex="100">
                    <div fxLayout="row" fxFlex="40">
                        <span fxFlex="30" class="c-title">Name</span>
                        <span fxFlex="70">John Doe</span>
                    </div>
                    <div fxLayout="row" fxFlex="60">
                        <span fxFlex="30" class="c-title">Department</span>
                        <span fxFlex="70">Sales</span>
                    </div>
                </div>
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>
                <div fxLayout="row" fxFlex="100">
                    <div fxLayout="row" fxFlex="40">
                        <span fxFlex="30" class="c-title">Email</span>
                        <span fxFlex="70">johndoe@gmail.com</span>
                    </div>
                    <div fxLayout="row" fxFlex="60">
                        <span fxFlex="30" class="c-title">Reports To</span>
                        <span fxFlex="70">Ashley</span>
                    </div>
                </div>
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>
                <div fxLayout="row" fxFlex="100">
                    <div fxLayout="row" fxFlex="40">
                        <span fxFlex="30" class="c-title">Phone</span>
                        <span fxFlex="70">123, 456, 7890</span>
                    </div>
                    <div fxLayout="row" fxFlex="60">
                        <span fxFlex="30" class="c-title">Notify Owner</span>
                        <span fxFlex="70">No</span>
                    </div>
                </div>
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>
                <div fxLayout="row" fxFlex="100">
                    <div fxLayout="row" fxFlex="40">
                        <span fxFlex="30" class="c-title">Account</span>
                        <span fxFlex="70">Deer Funds</span>
                    </div>
                    <div fxLayout="row" fxFlex="60">
                        <span fxFlex="30" class="c-title">Modified</span>
                        <span fxFlex="70">Yesterday</span>
                    </div>
                </div>
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>
                <div fxLayout="row" fxFlex="100">
                    <div fxLayout="row" fxFlex="40">
                        <span fxFlex="30" class="c-title">Title</span>
                        <span fxFlex="70">1 Hour</span>
                    </div>
                    <div fxLayout="row" fxFlex="60">
                        <span fxFlex="30" class="c-title">Created</span>
                        <span fxFlex="70">March 02, 2017</span>
                    </div>
                </div>
            </mat-list-item>
            <mat-divider></mat-divider>
        </mat-list>
    </mat-expansion-panel>
</mat-accordion>