.mat-tab-label-container {
    .mat-tab-label  {
        opacity: 1;
        padding: 0;
    }
} 
.mat-tab-group.mat-primary {
     .mat-ink-bar {
          display: none;
      }
}

a.disabled {
    pointer-events: none;
    cursor: default;
 }