:host {
  .msg-card {
    height: 100vh;
  }
  .text-right {
    text-align: right;
  }
  .title {
    font-weight: bold;
    color: #005242;
    font-size: medium;
  }
  .msg-textarea {
    background: #f4f8fb;
    button:not(:last-child) {
      min-width: 40px;
      padding: 0rem;
      .mat-icon {
        font-size: 20px;
        height: 20px;
        width: 20px;
      }
    }
  }
}
