<mat-card class="msg-card">
    <mat-card-title fxLayout="row" fxlayoutAlign="space-between center">
        <span fxFlex class="title">{{'Help! Issues Loging In'}}</span>
        <span fxFlex class="text-right">
            <a href="#" style="color: currentColor;">
                <mat-icon style="transform: rotate(45deg);">link</mat-icon>
            </a>
        </span>
    </mat-card-title>
    <mat-card-content>
        <mat-card class="msg-textarea">
            <div fxLayout="column">
                <textarea matInput
                    rows=5>Hello Support,&#13;&#10;I am unable to login in my account. I tried resetting my account but I still can not login. Can you please help?&#13;&#13;Thank you,&#13;Customer</textarea>
                <div fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="4px">
                    <button mat-button mat-raised-button>
                        <mat-icon>reply</mat-icon>
                    </button>
                    <button mat-button mat-raised-button>
                        <mat-icon>arrow_right_alt</mat-icon>
                    </button>
                    <button mat-button mat-raised-button>
                        <span>Comment</span>
                    </button>
                </div>
            </div>
        </mat-card>
    </mat-card-content>
</mat-card>