// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import "~@angular/material/theming";
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$vantage-ui-project-primary: mat-palette($mat-indigo);
$vantage-ui-project-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$vantage-ui-project-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$vantage-ui-project-theme: mat-light-theme(
  $vantage-ui-project-primary,
  $vantage-ui-project-accent,
  $vantage-ui-project-warn
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($vantage-ui-project-theme);

/* You can add global styles to this file, and also import other style files */

@import "./theme-variables.scss";
@import url(https://fonts.googleapis.com/icon?family=Material+Icons);

html,
body {
  height: 100vh;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  .mat-icon {
    font-size: 16px;
    height: 16px;
    width: 16px;
  }
}

/*
primary #16AA9C
#0C8B80
#C2C2C2
#616161
*/

.tab-wrap-detail {
  .mat-tab-labels {
    border: 1px solid rgba(0, 0, 0, 0.38);
    border-bottom: 0;
    // .mat-tab-label {
    //   background-color: #f4f8f7;
    // }
    .mat-tab-label {
      background-color: #f4f8f7;
    }
    :not(:last-child) {
      border-right: 1px solid rgba(0, 0, 0, 0.38);
    }
    .mat-tab-label-active {
      background-color: #ffffff;
    }
  }
  .mat-flat-button,
  .mat-raised-button,
  .mat-fab,
  .mat-mini-fab {
    color: $white-background-color;
    background-color: $primary-background-color;
  }
}
.t-actions {
  .mat-button > span {
    opacity: 0.8;
  }
  .mat-flat-button,
  .mat-raised-button,
  .mat-fab,
  .mat-mini-fab {
    color: $white-background-color;
    background-color: $primary-background-color;
  }
}
.mat-tab-group.mat-primary .mat-ink-bar,
.mat-tab-nav-bar.mat-primary .mat-ink-bar {
  background: transparent;
}
.top-bar .search-wrap {
  .mat-tab-group.mat-primary .mat-ink-bar,
  .mat-tab-nav-bar.mat-primary .mat-ink-bar {
    background-color: transparent;
  }
  .mat-form-field-appearance-legacy .mat-form-field-wrapper {
    padding-bottom: 0.5em;
  }
  .mat-form-field.mat-focused .mat-form-field-ripple {
    background-color: transparent;
  }
  .mat-form-field-label-wrapper:focus {
    outline: transparent;
  }
  .mat-form-field-underline {
    height: 0 !important;
  }
}

.ticket-tabs-wrap > nav {
  background-color: #16aa9c;
  mat-tab-group {
    margin-top: 8px;
    background-color: #0c9788;
    .mat-tab-header {
      border-radius: 0;
    }
  }
  .mat-tab-label-active {
    // background-color: #1a8c83;
    background-color: #f4f8f7;
    opacity: 1;
  }
  .mat-tab-group.mat-primary .mat-ink-bar,
  .mat-tab-nav-bar.mat-primary .mat-ink-bar {
    // background-color: transparent;
    display: none;
  }
  mat-icon {
    font-size: 16px;
    font-weight: bold;
    padding-top: 8px;
  }
}

app-ticket-contact,
app-ticket-issue {
  .mat-expansion-indicator {
    position: relative;
    width: 10px;
    height: 10px;
    transform: none;
    &::before,
    &::after {
      content: "";
      position: absolute;
      background-color: rgba(0, 0, 0, 0.54);
      transition: transform 0.25s ease-out;
      transform: none;
      padding: 0;
    }
    &::before {
      top: 0px;
      left: 1px;
      width: 2px;
      height: 12px;
      margin-left: 4px;
    }
    &::after {
      top: 50%;
      left: 0;
      width: 10px;
    }
  }
  .mat-expanded .mat-expansion-indicator {
    cursor: pointer;

    &::before {
      transform: rotate(90deg);
    }
    &::after {
      transform: rotate(180deg);
    }
  }
  // .mat-expansion-indicator::after {
  //   width: 10px;
  //   padding: 0;
  //   transform: none;
  // }
  // .mat-expanded.mat-expansion-indicator {
  //   &::before,
  //   &::after {
  //     position: relative;
  //     width: 30px;
  //     height: 30px;
  //     content: "" !important;
  //     position: absolute !important;
  //     background-color: white !important;
  //     transition: transform 0.25s ease-out !important;
  //   }
  //   &::before {
  //     top: 0 !important;
  //     left: 50% !important;
  //     width: 4px !important;
  //     height: 100% !important;
  //     margin-left: -2px !important;
  //   }
  //   &::after {
  //     top: 50% !important;
  //     left: 0 !important;
  //     width: 100% !important;
  //     height: 4px !important;
  //     margin-top: -2px !important;
  //   }
  // }
}
app-ticket-contact,
app-ticket-faq,
app-ticket-issue {
  .mat-list-base .mat-list-item,
  .mat-list-base .mat-list-option {
    :not(.c-title) {
      opacity: 0.8;
      font-weight: normal;
    }
    font-size: 12px;
    font-weight: bold;
    height: 30px;
    .mat-list-item-content {
      padding-left: 0;
      padding-right: 0;
    }
  }
}

app-ticket-faq {
  .mat-expansion-indicator::after {
    transform: rotate(-45deg);
  }
  .mat-expanded .mat-expansion-indicator::after {
    transform: rotate(45deg);
  }
}

// .tab-wrap-detail > nav {
//   background-color: #16aa9c;
//   .mat-tab-label-active {
//     background-color: #1A8C83;
//   }
// }

/**
Padding and margin classes
*/
$sizes: 12;

@mixin margin-classes {
  @for $i from 1 through $sizes {
    $margin: $i * 0.25rem;
    /* margin #{$margin} */
    .m#{$i} {
      margin: $margin !important;
    }
    .ml#{$i} {
      margin-left: $margin !important;
    }
    .mr#{$i} {
      margin-right: $margin !important;
    }
    .mt#{$i} {
      margin-top: $margin !important;
    }
    .mb#{$i} {
      margin-bottom: $margin !important;
    }
    .mx#{$i} {
      margin-left: $margin !important;
      margin-right: $margin !important;
    }
    .my#{$i} {
      margin-top: $margin !important;
      margin-bottom: $margin !important;
    }
  }
}
@include margin-classes;

@mixin padding-classes {
  @for $i from 1 through $sizes {
    $padding: $i * 0.25rem;
    /* padding #{$padding} */
    .p#{$i} {
      padding: $padding !important;
    }
    .pl#{$i} {
      padding-left: $padding !important;
    }
    .pr#{$i} {
      padding-right: $padding !important;
    }
    .pt#{$i} {
      padding-top: $padding !important;
    }
    .pb#{$i} {
      padding-bottom: $padding !important;
    }
    .px#{$i} {
      padding-left: $padding !important;
      padding-right: $padding !important;
    }
    .py#{$i} {
      padding-top: $padding !important;
      padding-bottom: $padding !important;
    }
  }
}
@include padding-classes;
