$primary-background-color: #16AA9C;
$white-background-color: #ffffff;
$primary-text-color: #616161;
$primary-error-color: #b00020;
$primary-text-high-emphasis-color: rgb(194, 194, 194);
$primary-text-medium-emphasis-color: rgb(194, 194, 194);
// arc-primary
$primary-500: rgb(75, 247, 229);
$primary-600: rgb(41, 209, 192);
$primary-700: rgb(22, 170, 156);
$primary-800: rgb(13, 138, 125);
$primary-900: rgb(8, 104, 94);
$primary-400: rgb(32, 184, 168);

$primary-300: rgb(69, 214, 200);
$primary-200: rgb(92, 238, 223);
$primary-100: rgb(110, 247, 233);
$primary-50: rgb(159, 245, 236);