<mat-card>
    <mat-card-title>{{'Login Issue'|uppercase}}</mat-card-title>
    <mat-card-content>
        <mat-list>
            <mat-list-item>
                <div fxFlex="40">3</div>
                <div fxFlex="60">5</div>
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>
                <div fxFlex="40">3</div>
                <div fxFlex="60">5</div>
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>
                <div fxFlex="40">3</div>
                <div fxFlex="60">5</div>
            </mat-list-item>
        </mat-list>
    </mat-card-content>
</mat-card>