<mat-card>
    <mat-card-title><span class="title">{{'Login Issue'|uppercase}}</span></mat-card-title>
    <mat-card-content>
        <mat-list>
            <mat-list-item>
                <div fxFlex="40">Ticket Duration</div>
                <div fxFlex="60">1 Hour</div>
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>
                <div fxFlex="40">Email Thread Status</div>
                <div fxFlex="60">Received</div>
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>
                <div fxFlex="40">Priority</div>
                <div fxFlex="60">Low</div>
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>
                <div fxFlex="40">Status</div>
                <div fxFlex="60">Open</div>
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>
                <div fxFlex="40">Type</div>
                <div fxFlex="60">1 Hour</div>
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>
                <div fxFlex="40">Watchers</div>
                <div fxFlex="60">John Doe</div>
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>
                <div fxFlex="40">Tags</div>
                <div fxFlex="60">General</div>
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>
                <div fxFlex="40">Related Account</div>
                <div fxFlex="60"></div>
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>
                <div fxFlex="40">Related Contact</div>
                <div fxFlex="60"></div>
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>
                <div fxFlex="40">Email</div>
                <div fxFlex="60"></div>
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>
                <div fxFlex="40">Assigned To</div>
                <div fxFlex="60"></div>
            </mat-list-item>
        </mat-list>
    </mat-card-content>
</mat-card>