<mat-card>
    <mat-card-title><span class="title">{{'Login Issue'|uppercase}}</span></mat-card-title>
    <mat-card-content>
        <mat-list>
            <mat-list-item>
                <div fxFlex="40" class="c-title">Ticket Duration</div>
                <div fxFlex="60">1 Hour</div>
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>
                <div fxFlex="40" class="c-title">Email Thread Status</div>
                <div fxFlex="60">Received</div>
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>
                <div fxFlex="40" class="c-title">Priority</div>
                <div fxFlex="60">Low</div>
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>
                <div fxFlex="40" class="c-title">Status</div>
                <div fxFlex="60">Open</div>
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>
                <div fxFlex="40" class="c-title">Type</div>
                <div fxFlex="60">1 Hour</div>
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>
                <div fxFlex="40" class="c-title">Watchers</div>
                <div fxFlex="60">John Doe</div>
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>
                <div fxFlex="40" class="c-title">Tags</div>
                <div fxFlex="60">General</div>
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>
                <div fxFlex="40" class="c-title">Related Account</div>
                <div fxFlex="60"></div>
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>
                <div fxFlex="40" class="c-title">Related Contact</div>
                <div fxFlex="60"></div>
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>
                <div fxFlex="40" class="c-title">Email</div>
                <div fxFlex="60"></div>
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>
                <div fxFlex="40" class="c-title">Assigned To</div>
                <div fxFlex="60"></div>
            </mat-list-item>
        </mat-list>
    </mat-card-content>
</mat-card>